@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.conteiner {
    max-width: 350px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    padding: 18px;
    border-radius: 15px;
    text-align: center;
    margin: 0 1em;
}

.card .qr-code {
    width: 100%;
    border-radius: 15px;
}

.text {
    padding: 22px 10px;
}

.text h2 {
    color: hsl(228, 45%, 44%);
    padding-bottom: 15px;
}

.text p {
    color: hsl(216, 15%, 48%);
}